<div>
  <h1 style='color:blue; text-align:center'>{{welcome}}</h1>
  <h2 style='text-align:center'>{{camada}}</h2>
  <img
    src='https:avatars.githubusercontent.com/leobrunorolon'
    alt='BrunoRolon'
    width='460'
    height='345'
  />
  <a href={{github}} target='_blank' rel='noopener noreferrer'><h2
    >Github</h2></a>
  <a href={{products}}><h2>Products</h2></a>
  <a href={{carts}}><h2>Carts</h2></a>
  <a href={{sockets}}><h2>Sockets</h2></a>
  <a href={'/set-cookies'}><h2>Cookie</h2></a>
</div>
<script src='/js/index.js'></script>